---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
Author: {{ metadata.author }}
Site: {{ metadata.title }}
URL: {{ metadata.url }}

/* TECHNOLOGY */
Built with: Eleventy {{ build.eleventyVersion }}
Generated on: {{ build.builtAt | date("yyyy-LL-dd") }}
CSS: Tacit 1.9.5
