---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

Sitemap: {{ metadata.url }}/sitemap.xml
Host: {{ metadata.url | replace("https://", "") | replace("http://", "") }}
